<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APSCVIR.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D7DE21B63D755424383B58C7415F60FCD2525837</string>
				<key>dateExpires</key>
				<string>2026/11/18</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7DE21B63D755424383B58C7415F60FCD2525837</string>
						<key>dateExpires</key>
						<string>2026/11/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J9F9AK3CZ7</string>
						<key>name</key>
						<string>junqian pan</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7DE21B63D755424383B58C7415F60FCD2525837</string>
						<key>dateExpires</key>
						<string>2026/11/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J9F9AK3CZ7</string>
						<key>name</key>
						<string>junqian pan</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7DE21B63D755424383B58C7415F60FCD2525837</string>
						<key>dateExpires</key>
						<string>2026/11/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>add_2_calendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J9F9AK3CZ7</string>
						<key>name</key>
						<string>junqian pan</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7DE21B63D755424383B58C7415F60FCD2525837</string>
						<key>dateExpires</key>
						<string>2026/11/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J9F9AK3CZ7</string>
						<key>name</key>
						<string>junqian pan</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7DE21B63D755424383B58C7415F60FCD2525837</string>
						<key>dateExpires</key>
						<string>2026/11/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J9F9AK3CZ7</string>
						<key>name</key>
						<string>junqian pan</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7DE21B63D755424383B58C7415F60FCD2525837</string>
						<key>dateExpires</key>
						<string>2026/11/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J9F9AK3CZ7</string>
						<key>name</key>
						<string>junqian pan</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7DE21B63D755424383B58C7415F60FCD2525837</string>
						<key>dateExpires</key>
						<string>2026/11/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J9F9AK3CZ7</string>
						<key>name</key>
						<string>junqian pan</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7DE21B63D755424383B58C7415F60FCD2525837</string>
						<key>dateExpires</key>
						<string>2026/11/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J9F9AK3CZ7</string>
						<key>name</key>
						<string>junqian pan</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>J9F9AK3CZ7.com.example.conferenceApp123</string>
				<key>com.apple.developer.team-identifier</key>
				<string>J9F9AK3CZ7</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3700e8d1-0a43-4ef7-b3d2-0046b19110e9</string>
				<key>dateExpires</key>
				<string>2027/3/7</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.example.conferenceApp123</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>J9F9AK3CZ7</string>
				<key>name</key>
				<string>junqian pan</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
