<!doctype html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>苏州国际博览中心</title>
  <link href="/templates/expo_En/css/bootstrap-datepicker.css" rel="stylesheet">
  <link rel="stylesheet" href="/templates/expo_En/css/main.css">
  <link rel="stylesheet" href="/templates/expo_En/css/swiper.min.css">
  <link rel="stylesheet" href="/templates/expo_En/js/layer/skin/layer.css">
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?84fba6c9095ab41c59bac72603729dff";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</head>
<body class="index-body">
<div class="header">
  <a href="/index.html">
  <img src="/templates/expo_En/img/logo.png" alt="" style="width: 300px !important;">
  </a>
</div>
<div class="navigation">
  <div class="list">
    <div class="menu clearfix">
      
      <div class="pull-left">
        <div class="main-menu">
          <a href="/zhongxinjieshaoEn-341.html">About Us</a>
        </div>
        <ul class="sub-menu">
          
          <li><a href="/zhongxinjieshaoEn-341.html">Introduction</a></li>
          
          <li><a href="/qiyerongyuEn-342.html">Honor</a></li>
          
          <li><a href="/lianxiwomenEn-343.html">Contact Us</a></li>
          
        </ul>
      </div>
      
      <div class="pull-left">
        <div class="main-menu">
          <a href="/zhanguansheshiEn-335.html">Venue Facilities</a>
        </div>
        <ul class="sub-menu">
          
          <li><a href="/changguanshujuEn-344.html">Data</a></li>
          
          <li><a href="/pingmiantuEn-345.html">Floor Plan</a></li>
          
          <li><a href="/tesechangdiEn-346.html">Unique Spaces</a></li>
          
        </ul>
      </div>
      
      <div class="pull-left">
        <div class="main-menu">
          <a href="/zhubanfangEn-336.html">Organizer</a>
        </div>
        <ul class="sub-menu">
          
          <li>
            
            <a href="/zhanguansheshiEn-335.html">
            
              Venue Facilities</a>
          </li>
          
          <li>
            
            <a href="/zhuban-fuwuEn-348.html">
              
              Service</a>
          </li>
          
        </ul>
      </div>
      
      <div class="pull-left">
        <div class="main-menu">
          <a href="/ruhedaodaEn-350.html">Visitor</a>
        </div>
        <ul class="sub-menu">
          
          <li><a href="/ruhedaodaEn-350.html">Transportation</a></li>
          
          <li><a href="/guanzhong-fuwuEn-351.html">Service</a></li>
          
          <li><a href="/guanzhong-zhoubianpeitaoEn-352.html">MICE</a></li>
          
        </ul>
      </div>
      
      <div class="pull-left">
        <div class="main-menu">
          <a href="/taotiemeishiEn-353.html">Catering</a>
        </div>
        <ul class="sub-menu">
          
          <li><a href="/taotiemeishiEn-353.html">Cuisine</a></li>
          
          <li><a href="/yanhuichangdiEn-354.html">Banquet Halls</a></li>
          
        </ul>
      </div>
      
      <div class="pull-left">
        <div class="main-menu">
          <a href="/xuanchuanpianEn-358.html">Media</a>
        </div>
        <ul class="sub-menu">
          
          <li>
            
            <a href="/xuanchuanpianEn-358.html">
              
              Video
            </a>
          </li>
          
          <li>
            
            <a href="/ziliao-pingmiantuEn-387.html">
            
              Download
            </a>
          </li>
          
        </ul>
      </div>
      
      <div class="pull-left">
        <div class="main-menu">
          <a href="/zhoubianpeitaoEn-340.html">MICE</a>
        </div>
        <ul class="sub-menu">
          
          <li><a href="/jiudianzhusuEn-360.html">Hotels</a></li>
          
          <li><a href="/meishigouwuEn-361.html">Entertainment</a></li>
          
          <li><a href="/xiuxianlvyouEn-362.html">Touring</a></li>
          
        </ul>
      </div>
      
    </div>
  </div>
  <div class="icon-list icon-common">
    <img src="/templates/expo_En/img/icon-list.png" alt="">
  </div>
  <div class="icon-close icon-common" style="display: none;">
    <img src="/templates/expo_En/img/icon-close.png" alt="">
  </div>
</div>
<!--<div class="strip">
  <a href="http://demo19.fyxmt.com/index.aspx" target="_blank">
    <img src="/templates/expo_En/img/icon-strip.png" alt="">
  </a>
</div>-->
<!--<div class="share">
  <ul class="list-unstyled">
    <li><a href="http://demo19.fyxmt.com/index.aspx"><i class="">中文</i></a></li>
    &lt;!&ndash;<li><a href=""><i class="iconfont">&#xe63c;</i></a></li>
    <li><a href=""><i class="iconfont">&#xe619;</i></a></li>&ndash;&gt;
    <li><a href="https://twitter.com/SuzhouExpo" target="_blank"><i class="iconfont" style="margin-left: 5px;">&#xe72c;</i></a></li>
  </ul>
</div>-->
<div id="fullpage">
  <div class="section section-1">
    <div class="container-fluid" style="background-color: transparent;">
      <div class="container-fluid animated" data-animate-in="fadeIn" data-animate-out="fadeOut">
        <div class="text-center big-words zoom animated" data-animate-in="zoomIn" data-animate-out="zoomOut">
          <img src="/templates/expo_En/img/big-word-en.png" alt="">
        </div>
        <!--<div class="vr text-center">
          <img src="/templates/expo_En/img/icon-eye.png" alt="">
          <a href="#">VR</a>
        </div>-->
        <a href="#section-2" class="mouseIco">
          <!--<img src="/templates/expo_En/img/down-arrow.png" alt="">-->
        </a>
      </div>
    </div>
    <div class="share">
      <ul class="list-unstyled">
        <li><a href="https://www.suzhouexpo.com/index.aspx"><i class="">中文</i></a></li>
        <li><a href="javascript:void(0);"><i class="iconfont" id="weClick">&#xe63c;</i></a></li>
        <!--<li><a href=""><i class="iconfont">&#xe619;</i></a></li>-->
        <li><a href="https://twitter.com/SuzhouExpo" target="_blank"><i class="iconfont" style="margin-left: 5px;">&#xe72c;</i></a></li>
      </ul>
      <div class="weChat">
        <img src="/templates/expo_En/img/weChat.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="section section-2">
    <div class="container-fluid" style="background-color: transparent;">
      <div class="animated">
        <div class="content clearfix">
          <div class="swiper-container pull-left rotateLeft animated">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="/templates/expo_En/img/section2-thum-2.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="info rotateRight animated">
            <div class="schedule-index">Exhibition Schedule</div>
            <div class="date">
              <input type="text" id="datepicker_1" class="form-control" readonly="readonly" name="start" placeholder="05/28/2018" v-model="startTime" />
              <span class="color-grey">-</span>
              <input type="text" id="datepicker_2" class="form-control" readonly="readonly" name="end" placeholder="05/28/2018" v-model="endTime" />
              <!--<span class="color-org">Select Date</span>-->
            </div>

            <div class="swiper-container schedule-list mobile">
              <div class="swiper-wrapper">
                <div class="title swiper-slide" v-for="item in list">
                  <div class="slide-title" v-text="item.title"></div>
                  <div class="slide-date">
                    <span v-text="item.extras.start_time"></span>
                    <span>-</span>
                    <span v-text="item.extras.end_time"></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="schedule-list pc">
              <div>
                <div class="title" v-for="item in list">
                  <div class="slide-title" v-text="item.title"></div>
                  <div class="slide-date">
                    <span v-text="item.extras.start_time"></span>
                    <span>-</span>
                    <span v-text="item.extras.end_time"></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="control clearfix mobile">
              <!-- Add Arrows -->
              <div class="swiper-prev pull-left"></div>
              <div class="swiper-index pull-left">
                <span v-if="list.length ==0">0</span>
                <span v-text="index" v-if="list.length !=0"></span>
                <span>/</span>
                <span v-text="list.length"></span>
              </div>
              <div class="swiper-next pull-left"></div>
            </div>
            <a href="/zhanhuirichengEn-389.html" class="more">
              <div class="border-grey">More</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-3">
    <div class="container-fluid" style="background-color: transparent;">
      <div class="animated">
        <div class="content pull-left fadeLeft animated">
          <div class="title">
            <span @mouseenter="changeTab(1)" :class="{on: curTab === 1}">Organizer</span>
            <span>/</span>
            <span @mouseenter="changeTab(2)" :class="{on: curTab === 2}">Visitor</span>
          </div>
          <div class="line">
            <img src="/templates/expo_En/img/line-sponsor.png" v-show="curTab === 1" alt="">
            <img src="/templates/expo_En/img/line-audience.png" v-show="curTab === 2" alt="">
          </div>
          <div class="icons">
            <div v-show="curTab === 1">
              <div>
                <img src="/templates/expo_En/img/icons-sponsor.png" alt="">
              </div>
              <div class="btns clearfix">
                <div class="pull-left">
                  <div class="border-grey">
                    <a href="/zhanguansheshiEn-335.html">Facilities</a>
                  </div>
                </div>
                <div class="pull-left">
                  <div class="border-grey" style="margin: 0 auto;">
                    <a href="/zhuban-fuwuEn-348.html">Service</a>
                  </div>
                </div>
                <!--<div class="pull-left">
                  <div class="border-grey pull-right">
                    <a href="/changdiyudingEn-349.html">Booking</a>
                  </div>
                </div>-->
              </div>
            </div>
            <div v-show="curTab === 2">
              <div>
                <img src="/templates/expo_En/img/icons-audience.png" alt="">
              </div>
              <div class="btns clearfix">
                <div class="pull-left">
                  <div class="border-grey">
                    <a href="/ruhedaodaEn-350.html" class="trans">Transportation</a>
                  </div>
                </div>
                <div class="pull-left">
                  <div class="border-grey" style="margin: 0 auto;">
                    <a href="/guanzhong-fuwuEn-351.html">Service</a>
                  </div>
                </div>
                <div class="pull-left">
                  <div class="border-grey pull-right">
                    <a href="/guanzhong-zhoubianpeitaoEn-352.html">MICE</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="img-right pull-left fadeRight animated" data-animate-in="fadeInRight" data-animate-out="fadeOutRight">
          <img src="/templates/expo_En/img/section3-thum-1.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="section section-4">
    <div class="container-fluid" style="background-color: transparent;">
      <div class="animated">
        <div class="content clearfix">
          <div class="video-title pull-left flipYLeft animated">
            <div class="title">Video</div>
            <!--<div class="date">16/03/2018</div>
            <div class="border-grey more">More</div>-->
          </div>
          <div class="img-right pull-right text-center flipYRight animated">
            <!--<a href="/xuanchuanpianEn-358.html" target="_blank">
              <div class="thum">
                <img src="/templates/expo_En/img/section4-thum-1.jpg" alt="">
              </div>
              <img src="/templates/expo_En/img/icon-play.png" class="play" alt="">
            </a>-->
            
            <video class="trailer" src="https://www.suzhouexpo.com/upload/202212/02/202212021052441421.m4v" poster="/upload/201808/22/201808221806228969.jpg" controls></video>
            
          </div>
        </div>
      </div>
    </div>
    <div class="section-footer">Address: 688 E. Suzhou Avenue, Suzhou Industrial Park, Jiangsu Province Postal Code: 215028 <a href="https://beian.miit.gov.cn" target="blank" style="color: #ffffff;">Su ICP Registration 2022046675</a></div>
  </div>
</div>
<script src="/templates/expo_En/js/jquery.min.js"></script>
<script src="/templates/expo_En/js/bootstrap.min.js"></script>
<script src="/templates/expo_En/js/divscroll.js"></script>
<script src="/templates/expo_En/js/swiper.min.js"></script>
<script src="/templates/expo_En/js/vue.js"></script>
<script src="/templates/expo_En/js/jquery.fullpage.min.js"></script>
<script src="/templates/expo_En/js/common.js"></script>
<script src="/templates/expo_En/js/config.js"></script>
<!--<script src="js/aos.js"></script>-->

<script>
  $(function () {
    // 导航栏切换
    var w = $(window).width();
    if(w<900)
    {
      $('.icon-list').click(function(){
        $('.navigation .list').css('display', 'block');
        $('.icon-list').css('display', 'none');
        $('.icon-close').css('display', 'block');
        $(".trailer").css("display","none");
      });
    }
    else
    {
      $('.icon-list').hover(function(){
        $('.navigation .list').css('display', 'block');
        $('.icon-list').css('display', 'none');
        $('.icon-close').css('display', 'block');
        $(".trailer").css("display","none");
      });
    }

    $('.icon-close').click(function(){
      $('.navigation .list').css('display', 'none');
      $('.icon-list').css('display', 'block');
      $('.icon-close').css('display', 'none');
      $(".trailer").css("display","block");
    });

    $(".download-hover").hover(function () {
      $(".download-list").css("display","block");
    },function () {
      $(".download-list").css("display","none");
    });
    $(".photo-hover").hover(function () {
      $(".photo-list").css("display","block");
    },function () {
      $(".photo-list").css("display","none");
    });
  })
</script>
<!--<script src="/templates/expo_En/js/fullpage.dragAndMove.limited.min.js"></script>
<script src="/templates/expo_En/js/fullpage.extensions.min.js"></script>-->
<script src="/templates/expo_En/js/moment.js"></script>
<script src="/templates/expo_En/js/bootstrap-datepicker.js"></script>
<script src="/templates/expo_En/js/locales/bootstrap-datepicker.zh-CN.js"></script>
<script src="/templates/expo_En/js/divscroll.js"></script>
<!--<script src="js/aos.js"></script>-->
<script>
  /**
   * 参考资料
   * fullpage: https://github.com/alvarotrigo/fullPage.js/tree/master/lang/chinese#fullpagejs
   * animate：https://github.com/daneden/animate.css
   * TODO i18n，先处理英文站点
   */
  $(document).ready(function() {

    var w = $(window).width();
    $('#fullpage').fullpage({
      anchors: ['section-1', 'section-2', 'section-3', 'section-4'],
      navigation: true,
      /*dragAndMove: 'mouseonly',*/
      navigationPosition: w>900?'left':'right',
      navigationTooltips: ['Home', 'Exhibition Schedule', 'Organizer/Visitor', 'Video'],
      //事件
      onLeave: function(index, nextIndex, direction){
        $("#ascrail2000").css("display","none");
        console.log('---------------------- onLeave -----------------------')
        console.log('addClass data-animate-out, removeClass data-animate-in')
        console.log(index, nextIndex, direction)

        // 切换 animate class
        var $section = $('.section-'+index + ' .animated');
        var animateIn = $section.data('animate-in');
        var animateOut = $section.data('animate-out');
        $section.addClass(animateOut).removeClass(animateIn)

        if (index === 1) {
          var zoom = $('.zoom');
          var zoomIn = zoom.data('animate-in');
          var zoomOut = zoom.data('animate-out');
          zoom.addClass(zoomOut).removeClass(zoomIn)

          var flip = $('.flipX');
          var flipIn = flip.data('animate-in');
          var flipOut = flip.data('animate-out');
          flip.addClass(flipOut).removeClass(flipIn)
        }

        if (index === 2) {
          var rotateLeft = $('.rotateLeft');
          var rotateInLeft = rotateLeft.data('animate-in');
          var rotateOutLeft = rotateLeft.data('animate-out');
          rotateLeft.addClass(rotateOutLeft).removeClass(rotateInLeft)

          var rotateRight = $('.rotateRight');
          var rotateInRight = rotateRight.data('animate-in');
          var rotateOutRight = rotateRight.data('animate-out');
          rotateRight.addClass(rotateOutRight).removeClass(rotateInRight)
        }

        if (index === 3) {
          var fadeLeft = $('.fadeLeft');
          var fadeInLeft = fadeLeft.data('animate-in');
          var fadeOutLeft = fadeLeft.data('animate-out');
          fadeLeft.addClass(fadeOutLeft).removeClass(fadeInLeft)

          var fadeRight = $('.fadeRight');
          var fadeInRight = fadeRight.data('animate-in');
          var fadeOutRight = fadeRight.data('animate-out');
          fadeRight.addClass(fadeOutRight).removeClass(fadeInRight)
        }

        if (index === 4) {
          var flipYLeft = $('.flipYLeft');
          var flipYInLeft = flipYLeft.data('animate-in');
          var flipYOutLeft = flipYLeft.data('animate-out');
          flipYLeft.addClass(flipYOutLeft).removeClass(flipYInLeft)

          var flipYRight = $('.flipYRight');
          var flipYInRight = flipYRight.data('animate-in');
          var flipYOutRight = flipYRight.data('animate-out');
          flipYRight.addClass(flipYOutRight).removeClass(flipYInRight)
        }
        // TODO share 和 底部的黑白样式 单独判断首页第一个和其他的区别

      },
      afterLoad: function(anchorLink, index){
        $("#ascrail2000").css("display","none");
        console.log('---------------------- afterLoad -----------------------')
        console.log('addClass data-animate-in, removeClass data-animate-out')
        console.log(anchorLink, index)

        // 切换 animate class
        var $section = $('.'+anchorLink + ' .animated');
        var animateIn = $section.data('animate-in');
        var animateOut = $section.data('animate-out');
        $section.addClass(animateIn).removeClass(animateOut)

        if (index === 1) {
          var zoom = $('.zoom');
          var zoomIn = zoom.data('animate-in');
          var zoomOut = zoom.data('animate-out');
          zoom.addClass(zoomIn).removeClass(zoomOut)

          var flip = $('.flipX');
          var flipIn = flip.data('animate-in');
          var flipOut = flip.data('animate-out');
          flip.addClass(flipIn).removeClass(flipOut)
        }

        if (index === 2) {
          var rotateLeft = $('.rotateLeft');
          var rotateInLeft = rotateLeft.data('animate-in');
          var rotateOutLeft = rotateLeft.data('animate-out');
          rotateLeft.addClass(rotateInLeft).removeClass(rotateOutLeft)

          var rotateRight = $('.rotateRight');
          var rotateInRight = rotateRight.data('animate-in');
          var rotateOutRight = rotateRight.data('animate-out');
          rotateRight.addClass(rotateInRight).removeClass(rotateOutRight);

          $("#ascrail2000").css("display","block");
        }

        if (index === 3) {
          var fadeLeft = $('.fadeLeft');
          var fadeInLeft = fadeLeft.data('animate-in');
          var fadeOutLeft = fadeLeft.data('animate-out');
          fadeLeft.addClass(fadeInLeft).removeClass(fadeOutLeft)

          var fadeRight = $('.fadeRight');
          var fadeInRight = fadeRight.data('animate-in');
          var fadeOutRight = fadeRight.data('animate-out');
          fadeRight.addClass(fadeInRight).removeClass(fadeOutRight)
        }

        if (index === 4) {
          var flipYLeft = $('.flipYLeft');
          var flipYInLeft = flipYLeft.data('animate-in');
          var flipYOutLeft = flipYLeft.data('animate-out');
          flipYLeft.addClass(flipYInLeft).removeClass(flipYOutLeft)

          var flipYRight = $('.flipYRight');
          var flipYInRight = flipYRight.data('animate-in');
          var flipYOutRight = flipYRight.data('animate-out');
          flipYRight.addClass(flipYInRight).removeClass(flipYOutRight)
        }
        // TODO share 和 底部的黑白样式 单独判断首页第一个和其他的区别

      },
      afterRender: function(){},
      afterResize: function(){},
      afterResponsive: function(isResponsive){},
      afterSlideLoad: function(anchorLink, index, slideAnchor, slideIndex){},
      onSlideLeave: function(anchorLink, index, slideIndex, direction, nextSlideIndex){}
    });

    // AOS.init();

    //显示二维码
    $("#weClick").click(function () {
      if($(".weChat").css("display")==="none")
      {
        $(".weChat").css("display","block");
      }
      else
      {
        $(".weChat").css("display","none");
      }
    });
  });

  var date = new Date();
  with(date) {
    year = date.getYear() + 1900;
    month = date.getMonth() + 1;
  }
  var today = year + "/" + month + "/01";
  var lastDay = year + "/" + month + "/" + new Date(year,month,0).getDate();

  var w1 = $(window).width();

  var vm = new Vue({
    el: '#fullpage',
    data: {
      index: 1, // 默认
      curTab: 1, // 默认主办方
      height: null, // 屏幕高度
      list:[],
      startTime: today,
      endTime: lastDay,
      isBe:'',
      real: 0
    },
    created: function () {
      this.init();
    },
    methods: {
      init: function () {
        var that = this;
        that.getList(that.startTime,that.endTime);
      },
      changeTab: function (id) {
        this.curTab = id;
      },
      startDate: function (ev) {
        var that = this;
        that.startTime = moment(ev.date).format('YYYY/MM/DD');
        that.changeDate();
      },
      endDate: function (ev) {
        var that = this;
        that.endTime = moment(ev.date).format('YYYY/MM/DD');
        that.changeDate();
      },
      changeDate: function () {
        var that = this;
        that.isBe = moment(that.startTime).isBefore(that.endTime);
        if(that.isBe)
        {
          that.getList(that.startTime,that.endTime);
        }
        else
        {
          alert("结束日期不能早于开始日期，请重新选择！");
        }
      },
      getList: function (start,end) {
        var that = this;
        $.ajax({
          type: 'GET',
          data: {
            cate_id: 389,
            is_sub: true,
            albums:true,
            attachs:true,
            pageIndex: 1,
            pageSize: 1000,
            sort: 'start_time',
            search_params: JSON.stringify({
              "ext": [{
                "name":'start_time',
                "operater": ">=",
                "value": moment(start).format('YYYY/MM/DD')+' 00:00:00'
              },{
                "name":'start_time',
                "operater": "<=",
                "value": moment(end).format('YYYY/MM/DD')+' 23:59:59'
              }]
            })
          },
          url: config.host_url+'/api/Article/list',
          dataType: 'json',
          headers: {
            'Access-Token': config.token
          },
          success: function (data) {
            that.list = data.data.items;
            that.list.forEach(function (e) {
              e.extras.start_time = moment(e.extras.start_time).format('YYYY/MM/DD');
              e.extras.end_time = moment(e.extras.end_time).format('YYYY/MM/DD');
            });
            that.$nextTick(function () {
              if(w1>900)
              {
                $('.section-2 .schedule-list').niceScroll({
                  cursorcolor: '#707070',//#CC0071 光标颜色
                  cursoropacitymax: 1, //改变不透明度非常光标处于活动状态（scrollabar“可见”状态），范围从1到0
                  touchbehavior: false, //使光标拖动滚动像在台式电脑触摸设备
                  cursorwidth: '2px', //像素光标的宽度
                  cursorborder: '2', //   游标边框css定义
                  cursorborderradius: '5px',//以像素为光标边界半径
                  autohidemode: false //是否隐藏滚动条
                });
              }
              else
              {
                if(that.list.length>1)
                {
                  var swiper = new Swiper('.swiper-container', {
                    // autoplay: 3000,
                    // loop: true,
                    slidesPerView: 1,
                    nextButton: '.swiper-next',
                    prevButton: '.swiper-prev',
                    observer: true, // 修改swiper自己或子元素时，自动初始化swiper
                    observeParents: true, // 修改swiper的父元素时，自动初始化swiper
                    autoplayDisableOnInteraction : false,
                    onSlideChangeStart: function (swiper) {
                      that.index = swiper.realIndex+1;
                    }
                  });
                }
              }
            });
          }
        });
      }
    }
  });

  $('#datepicker_1').datepicker({
    // language: "zh-CN",
    //calendarWeeks: true,
    format: 'yyyy/mm/dd',
    clearBtn: true
  }).on('changeDate',vm.startDate);

  $('#datepicker_2').datepicker({
    // language: "zh-CN",
    // calendarWeeks: true,
    format: 'yyyy/mm/dd',
    clearBtn: true
  }).on('changeDate',vm.endDate);
</script>
</body>
</html>